<br>
<mat-toolbar>
  <div class="barraTituloCRUD">
    Validar si fecha es festiva
  </div>
</mat-toolbar>
<br>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
   <br>
  <button mat-stroked-button color="primary" (click)="comprobarFecha()">Validar si es festivo</button>
</div>


